* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center-gap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grid-template {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.box {
  background-color: rgb(122, 150, 198);
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
}

.box-size-auto {
  width: auto;
}
