* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: block;
  padding: 20px;
  margin: 0px;
  text-align: center;
  background-color: yellow;
}
main {
  flex-grow: 1;
  background-color: red;
  display: flex;
  flex-direction: column;
}
footer {
  text-align: center;
  padding: 10px;
}
.message {
    margin: 10px;
}
.message-inner {
    padding: 10px;
    background-color: #eee;
    display:inline-block;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.my {
    text-align: right;
}
.new-message {
    display: flex;
    padding: 10px;
}
.new-message input {
    flex-grow: 1;
    margin-right: 10px;
    height: 24px;
    padding: 5px;
}
.new-message button {
    height: 100%;
    width: 100px;
}